{% load staticfiles %}
<!DOCTYPE html>

<!-- Sidebar created using https://github.com/IronSummitMedia/startbootstrap-simple-sidebar -->

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="All-Out Corporation Loot Parsing Tool">
        <meta name="author" content="Mussah Yacoub">

        <title>All-Out Loot Parser</title>

        <!-- Bootstrap core styling -->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

        <!-- Sidebar custom styling -->
        <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">

        <!-- Block-level styling -->
        {% block extracss %}
            <!-- (if you see this, there is no block-level styling) -->
        {% endblock extracss %}

    </head>

    <body>
        <style>
            body { background-color: #ffb23d }

            header h1 {
                font-size: 64px;
                line-height: 64px;
                color: #e8e8e8;
                font-weight: 900;
                text-transform: uppercase;
                /*margin: 0 0 50px;*/
            }
        </style>

        <div id="wrapper">

            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% for paste in pastebar  %}
                        <li>
                            <a href="/paste/{{ paste.id }}">
                                Paste {{ paste.id }} <small>({{ paste.created|date:'Y/m/d H:i' }})</small>
                            </a>
                        <li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <a href="#menu-toggle" class="btn btn-default right-block" id="menu-toggle">Toggle Sidebar</a>
                    <a href="/paste/">
                        <header>
                            <img class="img-responsive center-block" src="{% static "images/all-out.png" %}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="text-center">All-Out</h1>
                                </div>
                            </div>
                        </header>
                    </a>

                    {% block bodyblock %}
                    {% endblock bodyblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
             <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- JQuery core JavaScript -->
        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>

        <!-- Sidebar Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        
        <!-- Block-level JavaScript -->
        {% block extrajs %}
            <!-- (if you see this, there is no block-level JavaScript) -->
        {% endblock extrajs %}
    </body>
</html>
