{% extends "base.html" %}

{% block bodyblock %}
    <div class="row">
        <div class="col-sm-12 col_style">
            <h1 class="text-center"><small>Paste {{ paste.id }} - ({{ paste.created|date:'Y/m/d H:i' }})</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col_style">
            <pre>{{ paste.raw_paste }}</pre>
        </div>
    </div>

    <p>Type of paste: "{{ parsed.0 }}"</p>

    {% for item in parsed.1  %}
        <p>{{ item.quantity }}x {{ item.name }}</p>
    {% endfor %}

{% endblock bodyblock %}
