{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="All-Out Corporation Loot Parsing Tool">
        <meta name="author" content="Mussah Yacoub">

        <title>All-Out Loot Parser</title>

        <!-- Bootstrap core styling -->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

        <!-- Block-level styling -->
        {% block extracss %}
            <!-- (if you see this, there is no block-level styling) -->
        {% endblock extracss %}
    </head>

    <body>
        <style>
            body { background-color: #ffb23d }

            header h1 {
                font-size: 64px;
                line-height: 64px;
                color: #e8e8e8;
                font-weight: 900;
                text-transform: uppercase;
                /*margin: 0 0 50px;*/
            }
        </style>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#all-out-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">All-Out</a>
                </div> <!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="all-out-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group" role="group" aria-label="operations">
                                <input type="button" onclick="location.href='/paste/'" class="btn btn-default navbar-btn" value="Operations">
                                <input type="button" onclick="location.href='/paste/'" class="btn btn-default navbar-btn" value="+">
                            </div>
                        </li>
                        <li>
                            <p class="navbar-text">Username</p>
                        </li>
                    </ul>
                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container-fluid -->
        </nav> <!-- /.navbar -->

        <div class="container-fluid">
            <a href="/paste/">
                <header>
                    <img class="img-responsive center-block" src="{% static "images/all-out.png" %}">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="text-center">All-Out</h1>
                        </div>
                    </div>
                </header>
            </a>

            {% block bodyblock %}
            {% endblock bodyblock %}

        </div>
        <!-- /.container-fluid -->

        <!-- JQuery core JavaScript -->
        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        
        <!-- Block-level JavaScript -->
        {% block extrajs %}
            <!-- (if you see this, there is no block-level JavaScript) -->
        {% endblock extrajs %}
    </body>
</html>
