{% extends "base.html" %}

{% load humanize %}

{% block bodyblock %}
    <div class="row">
        <div class="col-sm-12 col_style">
            <h1 class="text-center">Op: {{ paste.op.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <h2 class="text-center">Paste: {{ paste.name }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center"><a href="{{ paste.ep_link }}" target="_blank">{{ paste.ep_link }}</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Paste taken for {{ paste.ep_market_name }} on {{ paste.created|date:"d-M-y"}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Blueloot value: {{ paste.blueloot_value|floatformat:2|intcomma }} Ƶ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Salvage value: {{ paste.salvage_value|floatformat:2|intcomma }} Ƶ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Total Value: {{ paste.total_value|floatformat:2|intcomma }} Ƶ<p>
        </div>
    </div>

    {% for participation in paste.participation_set.all  %}

        <div class="row">
            <div class="col-sm-12 col_style">
                <h3 class="text-center">Participation {{ forloop.counter }} ({{ participation.site_count }} site{{participation.site_count|pluralize}}):</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col_style">
                <p class="text-center">
                    {{ participation.character.all|join:', ' }}
                </p>
            </div>
        </div>

    {% endfor %}



{% endblock bodyblock %}
