{% extends "base.html" %}

{% load humanize %}

{% block bodyblock %}
    <div class="row">
        <div class="col-sm-12 col_style">
            <h1 class="text-center">Op: {{ paste.op.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <h2 class="text-center">Paste: {{ paste.name }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center"><a href="{{ paste.ep_link }}" target="_blank">{{ paste.ep_link }}</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Paste taken for {{ paste.ep_market_name }} on {{ paste.created|date:"d-M-y"}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Blueloot value: {{ paste.blueloot_value|floatformat:2|intcomma }} Ƶ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Salvage value: {{ paste.salvage_value|floatformat:2|intcomma }} Ƶ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">Total Value: {{ paste.total_value|floatformat:2|intcomma }} Ƶ<p>
        </div>
    </div>

    {# {% for participation in paste.participation.all  %}

        <p>{{ participation. }}</p>

    {% endfor %} #}

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">{{ paste.character.all|length }} participants:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col_style">
            <p class="text-center">
                {% for character in paste.character.all  %}
                    {{character}},
                {% endfor %}
            </p>
        </div>
    </div>

{% endblock bodyblock %}
